DATABASE_URL=
EMAIL=
EMAIL_API_KEY=
EMAIL_FROM=
EMAIL_PASS=
EMAIL_PASSS=
FIREBASE_API_KEY=
GEMINI_API_KEY=
GMAIL_APP_PASSWORD=
GMAIL_USER=
INSTRUCTOR_NOTIFICATION_EMAIL=
INSTRUCTOR_PORTAL_PASSWORD=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENVIRONMENT=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SCHOOL_TIMEZONE=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SQL_ADMIN_PASSWORD=
SQL_ADMIN_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_GOOGLE_MAPS_API_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=