FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
GEMINI_API_KEY=
SQL_ADMIN_PASSWORD=
SQL_ADMIN_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=